body {
    color: darkslateblue;
    text-align: center;
}

.container {
    width: 90vw;
    max-width: 1920px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
    margin: 3rem auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 20px;
}

img {
    border-radius: 15px;
}

footer {
    display: flex;
    place-items: center;
    background-color: rgb(175, 247, 193);
    color: rgb(12, 44, 12);
    font-size: 10px;
}